*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: $main-font;
	color: $black;
	margin: 0;
}

#root{
	display: flex;
	width: 100%;
	@media($md){
		display: block;
	}
}
.body-container{

	width: 100%;
	display: flex;
	transition: linear .5s transform;
	@media($md){
		height: auto;
	}
}
.body-container.loading{
	.ContainerLoader{
		display: flex;
	}
	.app-container{
		opacity: 0;
	}
}
app-home{
	display: flex;
	width: 100%;
	overflow: hidden;
	height: 100vh;
	@media($md){
		height: auto;
	}
}
.app-container{
	width: 100%;
	opacity: 1;
	transition: ease .3s opacity;
}
h1,h2{
	font-weight: normal;
	letter-spacing: -0.8px;
}
h3,h4,h5,h6{
	font-weight: normal;
}
h1{
	font-size: 2em;
	font-family: $title-font;
}

h2{
	font-size: 1.5em;
	margin: 0;
}
p{
	margin: 10px 0;
	line-height: 1.5;
}
.clearfix{
    &:before, &:after{
        display: table;
        content: " ";
        clear: both;
    }
}
.main{
	display: inline-flex;
	width: 100%;
}

.header-container{
	display: inline-flex;
	flex-basis: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	header{
		width: 100%;
	}
	@media($lg){
		flex-basis: 240px;
	}
	@media($md){
		display: block;
		flex-basis: 100%;
	}
}


.page-title{
	border-bottom: 1px solid $smoke;
	padding-bottom: 50px;
	margin-bottom: 50px;
	@media($md){
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	h2{
		font-size: 30px;
		margin-bottom: 0;
		font-family: $title-font;
		font-weight: normal;
		letter-spacing: -0.8px;
	}
	p,time{
		font-size: 18px;
		color: $red-light;
		margin: 7px 0 0;
	}
}

.page-container{
	padding: 50px 15px;
	max-width: 1170px;
	margin: 0 auto;
	@media($md){
		padding: 30px 15px 50px;
	}
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
	app-contact &{
		max-width: 850px;
	}

	app-blog &, app-post &, app-sales-tax-api &{
		max-width: 700px;
	}
}


a.main-button, button.main-button{
	display: inline-block;
	border: 1px solid $red;
	width: 170px;
	letter-spacing: -0.2px;
	color: $black;
	text-align: center;
	padding: 10px 0;
	margin-top: 30px;
	text-decoration: none;
	transition: all 0.5s cubic-bezier(0.40, 0, 0.60, 1);
	position: relative;
	background: transparent;
	outline: none;
	cursor: pointer;
	&:before {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		width: 0px;
		z-index: -1;
		content: '';
		color: white;
		background: $red;
		transition: all 0.5s cubic-bezier(0.40, 0, 0.60, 1);
	}
	&:hover, &:focus, &:active {
		color: white;
		background-color: transparent;
			&:before {
			left: 0%;
			right: auto;
			width: 100%;
		}
	}
}
button.text-button, a.text-button{
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	color: $red;
	cursor: pointer;
	position: relative;
	outline: none;
	text-decoration: none;
	line-height: 1.5;
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -5px;
		width: 100%;
		opacity: 0;
		display: block;
		height: 1px;
		background-color: $red;
		transition: ease .3s all;
	}
	&:hover, &:focus, &:active {
		&:before {
			bottom: 0;
			opacity: 1;
		}
	}
}

.ContainerLoader{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	//background-color: white;
	z-index: 99;
	top: 0;
	right: 0;
	left: 300px;
	bottom: 0;
	//display: flex;
	justify-content: center;
	align-items: center;
	img{
		transform: translateX(-150px);
		@media($lg){
			transform: translateX(-120px);
		}
		@media($md){
			transform: translate(0, -#{$menu-size});
		}
	}
	@media($lg){
		left: 240px;
	}
	@media($md){
		left: 0;
		min-height: calc(100vh - #{$menu-size});
		top: $menu-size;
	}
}



::-webkit-input-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}