@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
//==================Fonts===========================
$red: #ED2025;
$red-light: #e77376;
$black : #333333;
$smoke : #ebebeb;
$gray : #a5a5a5;


//==================Fonts===========================
$main-font:  'Raleway', sans-serif;
$title-font: 'Playfair Display', serif;;

//===============Media Screens======================
$phone-sm: "max-width: 380px";
$phone: "max-width: 450px";
$half-sm: "max-width: 550px";
$sm: "max-width: 767px";
$md: "max-width: 991px";
$lg: "max-width: 1199px";
$xlg: "max-width: 1299px";
$xxlg: "max-width: 1499px";
$desktop: "min-width: 768px";


$menu-size: 118px;
